{% extends 'navbar.html' %}
{% load static %}


<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body %}
<div>
  <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="https://mangafire.to/" class="btn btn-primary"> MANGAFIRE</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="https://anix.to/anime/bleach-sennen-kessen-hen-ketsubetsu-tan-6l0o0/ep-1" class="btn btn-primary"> BLEACH </a>
      </div>
    </div>
  </div>
</div>


</div>

{% endblock %}
</html>