<!-- get_date.html -->
{% extends 'Navbar.html' %}
<html>
{% block body %}
<div>
  <div class="container">
  <div class="row">
    <div  align="center" class="col">
        <br> <br>
  <h2>Get Date</h2>
        <form method ="post" action="{% url 'weatherlogic' %}">
            {% csrf_token %}
            <h5>
                <label> Enter a City Name : </label>
                <br><br>
                <button type="submit" class="btn btn-success btn-lg">check the current weather</button>
            </h5>
        </form>

          </div>
      <div  align="center" class="col">
          <h1> TOP VACATION DESTINATIONS </h1>
          <br><br>
          <h1>
              {% if error_message %}
              <p>{{ error_message }}</p>
              {% else %}
              <p>City: {{ city }}</p>
              <p>Temperature: {{ temperature1 }} &#8451;</p>
              <p>Humidity: {{ humidity }}%</p>
              {% endif %}
          </h1>
          <h1>Updated Date : {{ updated_date }}</h1>
      </div></div>
</div>
</div>
{% endblock %}
</html>